* {
 margin: 0;
 padding: 0;
}

a:focus {
 outline: 0;
}

/* Body */
body {
 font-size: 87.5%; /* Base font size: 14px */
 font-family: Arial, sans-serif;
 line-height: 1.429;
 background: url('../images/bg/bg1.png');
}

.loading {
 position:absolute;
 top:0;
 left:0;
 width:100%;
 height:100%;
 z-index:100000;
 background:url(../images/loading.gif) no-repeat center center #fff;
}

/* Romeral font */
@font-face {
 font-family: 'RomeralRegular';
 src: url('romeral-webfont.eot');
 src: url('romeral-webfontd41d.eot?#iefix') format('embedded-opentype'),
      url('romeral-webfont.woff') format('woff'),
      url('romeral-webfont.ttf') format('truetype'),
      url('romeral-webfont.svg#RomeralRegular') format('svg');
 font-weight: normal;
 font-style: normal;
}

/*------------HEADER---------------*/

/* The header banner */	
#banner{
 background: #171717 url('../images/blackBg.png');
 width: 100%;
 height: 54px;
 position: fixed;
 overflow: hidden;
 z-index: 1000;
 opacity: 0.9;
}

#logo{
 margin-top: 16px;
 float: left;
}

#logo a:hover{
 text-decoration: none;
}

/* Menu */
#banner nav {
 margin-top: 8px;
 float: right;
}

#banner li {
 float: left;
 font-size: 12px;
 font-weight: bold;
 margin-left: 35px;
}

#banner li.current {
 background: url("../images/pointer.png") no-repeat;
 height: 35px;
 background-position: center bottom; 
}

#banner li.current a {
 color: #ffffff;
}

#banner li a {
 color: #c9c8c8;
 text-decoration: none;
}

/*------------BODY---------------*/
/* Slider */
#slider {
 width: 960px;
 height: 306px;
 position:relative;
 background:#fff url('img/loading.gif') no-repeat 50% 50%;
}

#slider img {
 position:absolute;
 top:0px;
 left:0px;
 display:none;
}

#slider a {
 border:0;
 display:block;
}

#slider .nivo-controlNav {
 position:absolute;
 left:31%;
 bottom:-34px;
 margin-left:-40px; /* Tweak this to center bullets */
}

a.nivo-control {
 float: left;
 color: black;
 text-indent:-9999px;
 background: url("../images/bullet.png");
 display: block;
 width: 12px;
 height: 12px;
 margin-right: 5px;
}

div.line1 {
 background: url("../images/line1.png");
 float: left;
 width: 185px;
 height: 12px;
}

div.line2 {
 background: url("../images/line2.png");
 float: left;
 width: 185px;
 height: 12px;
}

a.nivo-control:hover, a.active {
 background: url("../images/bullet_active.png");
}

#slider .nivo-directionNav a {
 display:block;
 width:30px;
 height:30px;
 text-indent:-9999px;
 border:0;
}

#slider a.nivo-nextNav {
 width: 35px;
 height: 35px;
 background: url('../images/arrowRight.png');
 right:10px;
}

#slider a.nivo-prevNav {
 width: 35px;
 height: 35px;
 background: url('../images/arrowLeft.png');
 left:10px;
}

#shadow {
 width: 960px;
 height: 49px;
 background: url('../images/shadow.png');
 margin-top: -27px;
 margin-bottom: 51px;
}

/* Content */
.intro-section {
 border-top: 1px solid #c8c0c0;
 border-bottom: 1px solid #c8c0c0;
 padding-top: 9px;
 padding-bottom: 9px;
 overflow: auto;
}

section {
 width: 962px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 729px;
 padding-top: 90px;
 overflow: hidden;
}

section:last-of-type {
 margin-bottom: 80px;
}

.zoomHome, .zoomHomeP  {
 position: absolute;
 margin-top: -131px; 
 display: none;
}

.next-section {
 margin-left: auto;
 margin-right: auto;
 width: 46px;
 height: 45px;
 opacity: 0.3;
}

.next-section:hover {
 opacity: 1;
}

/* Headings */
h1 {
 font-family: 'RomeralRegular';
 font-size: 24px;
 font-weight: normal;
 letter-spacing: 0.5px;
 color: #413e3e;
 font-smooth: always;
 -webkit-font-smoothing: antialiased;
}

h1 span {
 color: #ac3b2f;
}

h2 {
 font-size: 18px; 
 line-height: 18px;
 color: #413e3e;
}

h2 span {
 color: #AC3B2F;
}

h3 {
 font-size: 12px; 
 line-height: 18px;
 color: #545451;
}

canvas {
 overflow: hidden;
}

/* Float elements */

.left {
 float: left;
 margin-right: 20px;
}

img.left {
 margin-bottom: 18px;
}

.tiny-margin {
 margin-top: 18px;
}

.half-tiny-margin {
 margin-top: 9px;
}

.right {
 float: right;
 margin-left: 20px;
}

img.right {
 margin-top: 5px;
 margin-bottom: 10px;
}

.port {
 float: left;
}

.clear {
 clear: both;
}

ul.portHolder {
 padding-left: 0px;
 overflow: hidden;
 margin-right: -35px;
}

ul.portHolder li {
 list-style: none;
 margin-right: 23px;
 margin-bottom: 18px;
}

/* Anchors */
a {color: #FEFEFD; outline: 0; text-decoration: none;}
a img {border: 0px; text-decoration: none;}

a:hover, a:active {
	color: #fff;
}

/* Buttons */
.button-red {
 height: 20px;
 padding: 0px 25px 16px;
 background: #AC3B2F;
 -webkit-box-shadow: 1px 1px 0px 1px #f08a80;
-moz-box-shadow: 1px 1px 0px 1px #f08a80;
box-shadow: 1px 1px 0px 1px #f08a80; 
}

a.button-red {
 font-weight: bold;
 padding: 8px 25px 8px;
 display: block;
}

#contact-form input.button-red {
 border: 0;
 color: #fff;
 width: 100px;
 font-weight: bold;
 padding: 8px 0px 8px;
 display: block;
 height: 36px;
}

.button-red:hover , .button-red:active, #contact-form input.button-red:hover , #contact-form input.button-red:focus {
 background: #992f24;
}

a .button-red {
 font-family: 'RomeralRegular';
 color: #ffffff;
 font-size: 24px;
 letter-spacing: 1px;
}

/* Paragraphs */
p {
 font-size: 12px;
 color: #696767;
 line-height: 18px;
 margin-top: 9px;
 margin-bottom: 9px;
}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
 list-style: outside disc;
 color: #696767;
 font-size: 12px;
 line-height: 18px;
 padding-left: 10px;
}

ol {
 padding-left: 15px;
 color: #696767;
 font-size: 12px;
 line-height: 18px; 
 list-style: outside decimal;
}

ul.custom-list {
 list-style: none outside none;
 margin-bottom: 18px;
 padding-left: 0;
}

.tick li {
 background: url("../images/li_tick.png") no-repeat scroll 0 4px transparent;
 padding-left: 18px;
}

ul.contact-info {
 padding-left: 0px;
 list-style: none;
}

ul.contact-info li {
 padding-left: 30px;
 height: 35px;
 line-height: 26px;
}

li.email {
 background: url("../images/mail.png") no-repeat scroll 0 4px transparent;
}

li.phone {
 background: url("../images/phone.png") no-repeat scroll 0 2px transparent;
}

li.address {
 background: url("../images/address.png") no-repeat scroll 0 2px transparent;
}

ul.social {
 list-style: none;
 padding-left: 0;
}

ul.social li {
 float: left;
 margin-right: 15px;
 opacity: 0.7;
}

ul.social li:hover {
 opacity: 1;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

/* Quotes */
blockquote {font-style: italic;}

/* Tables */
table {margin: .5em auto 1.5em auto; width: 98%;}

/* Thead */
thead th {padding: .5em .4em; text-align: left;}

/* Tbody */
tbody td {padding: .5em .4em;}
	
/* Content wrap elements */
.center-wrap {
 width: 960px;
 margin-left: auto;
 margin-right: auto;
}

.padding {
 padding-left: 20px;
 padding-right: 20px;
 overflow: auto;
}

.margin {
 margin-top: 54px;
}

.half-margin {
 margin-top: 36px;
}

.full-width {
 width: 100%;
 overflow: hidden;
 margin-bottom: 20px;
}

.one-half {
 width: 423px;
 float: left;
 margin-right: 35px;
}

.one-half:last-of-type {
 margin-right: 0px;
 clear: right;
}

.one-third {
 width: 180px;
 float: left;
 margin-right: 40px;
}

.one-third:last-of-type {
 margin-right: 0px;
}

.sep {
 background: url("../images/sep.png") no-repeat;
 background-position: right;
}

.one-fourth {
 width: 200px;
 float: left;
 margin-right: 35px;
}

.one-fourth:last-of-type {
 margin-right: 0px;
}

.two-third {
 width: 600px;
 margin-right: 40px;
 float: left;
}

.two-third:last-of-type {
 margin-right: 0;
}

/*- FILTER OPTIONS -*/
ul#filterOptions {
  padding-left: 0px;
  margin-bottom: -20px;
  overflow: hidden;
  list-style: none;
}
ul#filterOptions li { height: 52px; margin-right: 2px; float: left; }
ul#filterOptions li a {
 color: #383837;
 font-style: italic;
 padding: 5px 10px;
 font-size: 13px;
 background: #dddddd;
 -webkit-border-radius: 5px;
 -moz-border-radius: 5px;
 border-radius: 5px;
  text-decoration: none;
  display: block;
  margin-right: 5px;
}
ul#filterOptions li a:hover { background: #c9c8c8; }
ul#filterOptions li.active a { background: #AC3B2F; color: #fff; }
/*- -*/

#contact-form label {
 color: #B8B4B4;
 padding: 5px 0;
}
#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
    font-size:15px;
    margin-bottom:2px;
}

#contact-form input,
#contact-form select,
#contact-form textarea {
    width:450px;
    border: 1px solid #CEE1E8;
    margin-bottom:20px;
    padding:4px;
}

#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
    border: 1px solid #AFCDD8;
    background-color: #EBF2F4;
}

#contact-form textarea {
    height:150px;
    resize: none;
}

#contact-form label {
    color: #696767;
    display:block;
}

#contact-form input.button {
 width: 100px;
}

#errors {
    border:solid 1px #E58E8E;
    padding:10px;
    margin:25px 0px;
    display:block;
    width:437px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#FFE6E6 url(../img/cancel_48.html) no-repeat 405px center;
    display:none;
}

#errors li {
    padding:2px;
    list-style:none;
}

#errors li:before {
    content: ' - ';
}

#errors #info {
    font-weight:bold;
}

#errors #info:before {
    content: '';
}

#success {
	position: absolute;
    border:solid 1px #83D186;
    padding:5px;
    margin-top:-60px;
    display:block;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
    background:#D3EDD3;
    font-weight:bold;
    display:none;
}

#errors.visible, #success.visible {
    display:block;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}

footer {
 height: 40px;
 width: 100%;
 background: #171717 url('../images/blackBg.png');
 opacity: 0.9;
}

footer p {
 color: #aaa8a8;
 font-size: 12px;
 padding-top: 5px;
}

footer a.right {
 color: #aaa8a8;
 font-size: 12px;
 padding-top: 11px;
 padding-left: 15px;
}

footer a.right:hover {
 text-decoration: underline;
}

/* Zoombox */
/*[fmt]0A90-0A0A-2*/
a.zoombox {
 display: block;
 margin-bottom: 18px;
 position: relative;
 height: 126px;
}
#zoombox iframe,#zoombox img{
	border:none;
}
#zoombox .zoombox_mask{
	background-color:#000;
	position:fixed;
	width:100%;
	z-index:90;
	height:100%;
	top:0;
	left:0;
}
#zoombox .zoombox_container{
	position:absolute;
	z-index:100;
}
#zoombox .relative{
	position:relative;
}
#zoombox .zoombox_prev{
	position:absolute;
	top:0;
	left:0;
	width:50%;
	height:100%;
	cursor:pointer;
	/*+opacity:0;*/
	filter:alpha(opacity=0);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-moz-opacity:0;
	opacity:0;
}
#zoombox .zoombox_prev:hover{
	/*+opacity:100%;*/
	filter:alpha(opacity=100);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity:1;
	opacity:1;
}
#zoombox .zoombox_next{
	position:absolute;
	top:0;
	right:0;
	width:50%;
	height:100%;
	/*+opacity:0;*/
	filter:alpha(opacity=0);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-moz-opacity:0;
	opacity:0;
}
#zoombox .zoombox_close,#zoombox .zoombox_next,#zoombox .zoombox_prev{
	cursor:pointer;
}
#zoombox .multimedia .zoombox_next,#zoombox .multimedia .zoombox_prev{
	display:none;
}
#zoombox .zoombox_next:hover{
	/*+opacity:100%;*/
	filter:alpha(opacity=100);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity:1;
	opacity:1;
}
#zoombox .zoombox_gallery{
	position:fixed;
	z-index:120;
	bottom:-60px;
	left:0;
	right:0;
	text-align:center;
	/*+opacity:85%;*/
	filter:alpha(opacity=85);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	-moz-opacity:0.85;
	opacity:0.85;
	cursor:pointer;
	width:auto;
	background-color:#050505;
	height:60px;
	overflow: hidden;
	display:none;
}
#zoombox .zoombox_gallery img{
	height:50px;
	padding:5px;
	/*+opacity:50%;*/
	filter:alpha(opacity=30);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	-moz-opacity:0.3;
	opacity:0.3;
}
#zoombox .zoombox_gallery img:hover,#zoombox .zoombox_gallery img.current{
	/*+opacity:100%;*/
	filter:alpha(opacity=100);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity:1;
	opacity:1;
}
#zoombox_loader{
	background:url(img/loader.png) no-repeat left top;
	position:absolute;
	height:40px;
	width:40px;
	cursor:pointer;
	top:50%;
	left:50%;
	margin:-20px 0 0 -20px;
	z-index:110;
}
/** Zoombox Theme **/
.zoombox .zoombox_container{
	background:#000;
	color:#666;
	/*+box-shadow:0px 0px 10px #000000;*/
	-moz-box-shadow:0px 0px 10px #000000;
	-webkit-box-shadow:0px 0px 10px #000000;
	-o-box-shadow:0px 0px 10px #000000;
	box-shadow:0px 0px 10px #000000;
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
	-o-box-shadow:0 0 10px #000;
	box-shadow:0 0 10px #000;
}
.zoombox .content{
	background:#000;
}
.zoombox .zoombox_title{
	color:#FFF;
	/*+placement:anchor-top-left -1px -22px;*/
	position:absolute;
	left:-1px;
	top:-22px;
	/*+text-shadow:1px 1px #000000;*/
	-moz-text-shadow:1px 1px #000000;
	-webkit-text-shadow:1px 1px #000000;
	-o-text-shadow:1px 1px #000000;
	text-shadow:1px 1px #000000;
	-moz-text-shadow:1px 1px #000;
	-webkit-text-shadow:1px 1px #000;
	-o-text-shadow:1px 1px #000;
	text-shadow:1px 1px #000;
}
.zoombox .zoombox_close{
	background:url(img/close.png) no-repeat;
	width:30px;
	height:30px;
	/*+placement:anchor-top-right -15px -15px;*/
	position:absolute;
	right:-15px;
	top:-15px;
}
#zoombox.zoombox .zoombox_next{
	background:url(img/next.png) no-repeat right center;
}
#zoombox.zoombox .zoombox_prev{
	background:url(img/prev.png) no-repeat left center;
}
/** Lightbox Theme **/
.lightbox .zoombox_container{
	background:#FFF;
	margin-left:-30px;
	padding:10px 10px 37px;
	color:#666;
}
.lightbox .zoombox_close{
	background:url(img/lightclose.gif) no-repeat left top;
	width:66px;
	height:22px;
	top:auto;
	/*+placement:anchor-bottom-right 12px 6px;*/
	position:absolute;
	right:12px;
	bottom:6px;
}
.lightbox .zoombox_title{
	text-align:left;
}
.lightbox .zoombox_next{
	background:url(img/lightnext.gif) no-repeat right 50px;
}
.lightbox .zoombox_prev{
	background:url(img/lightprev.gif) no-repeat left 50px;
}
#zoombox.lightbox .zoombox_gallery{
	left:10px !important;
	right:10px;
	bottom:36px;
}
/** Pretty Photo Theme **/
.prettyphoto .zoombox_container{
	border:10px solid #0B0A0A;
	/*+border-radius:10px;*/
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px 10px 10px 10px;
	background:#FFF;
	padding:10px 10px 37px;
	margin-left:-20px;
	color:#797979;
}
.prettyphoto .zoombox_title{
	text-align:left;
}
.prettyphoto .zoombox_close{
	background:url(img/ppsprite.png);
	width:27px;
	height:24px;
	top:auto;
	/*+placement:anchor-bottom-right 6px 8px;*/
	position:absolute;
	right:6px;
	bottom:8px;
}
.prettyphoto .zoombox_next{
	background:url(img/ppnext.png) no-repeat right center;
}
.prettyphoto .zoombox_prev{
	background:url(img/ppprev.png) no-repeat left center;
}
.prettyphoto .multimedia .zoombox_next,.prettyphoto .multimedia .zoombox_prev{
	display:none;
}
#zoombox.prettyphoto .zoombox_gallery{
	left:10px !important;
	right:10px;
	bottom:36px;
}
/** Dark Pretty Photo Theme **/
.darkprettyphoto .zoombox_container{
	/*+border-radius:10px;*/
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
	border-radius:10px 10px 10px 10px;
	background:#0C0C0C;
	padding:10px 10px 37px;
	margin-left:-30px;
	color:#828282;
}
.darkprettyphoto .zoombox_title{
	/*[empty]position:;*/
	text-align:left;
}
.darkprettyphoto .zoombox_close{
	background:url(img/ppsprite.png);
	width:27px;
	height:24px;
	top:auto;
	/*+placement:anchor-bottom-right 2px 6px;*/
	position:absolute;
	right:2px;
	bottom:6px;
}
.darkprettyphoto .zoombox_next{
	background:url(img/ppnext.png) no-repeat right center;
}
.darkprettyphoto .zoombox_prev{
	background:url(img/ppprev.png) no-repeat left center;
}
.darkprettyphoto .multimedia .zoombox_next,.darkprettyphoto .multimedia .zoombox_prev{
	display:none;
}
#zoombox.darkprettyphoto .zoombox_gallery{
	left:10px !important;
	right:10px;
	bottom:36px;
}
/** Simple Theme **/
.simple .zoombox_container{
	background:#000;
}
.simple .zoombox_title{
	color:#FFF;
	/*+placement:anchor-top-left -1px -22px;*/
	position:absolute;
	left:-1px;
	top:-22px;
	/*+text-shadow:1px 1px #000000;*/
	-moz-text-shadow:1px 1px #000000;
	-webkit-text-shadow:1px 1px #000000;
	-o-text-shadow:1px 1px #000000;
	text-shadow:1px 1px #000000;
	-moz-text-shadow:1px 1px #000;
	-webkit-text-shadow:1px 1px #000;
	-o-text-shadow:1px 1px #000;
	text-shadow:1px 1px #000;
}
#zoombox.simple .zoombox_next{
	background:url(img/simplenav.png) no-repeat -20px center;
	/*+opacity:100%;*/
	filter:alpha(opacity=100);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity:1;
	opacity:1;
	right:-20px;
	width:20px;
}
#zoombox.simple .zoombox_next:hover{
	background-position-x:left;
}
#zoombox.simple .zoombox_prev{
	background:url(img/simplenav.png) no-repeat -40px center;
	/*+opacity:100%;*/
	filter:alpha(opacity=100);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity:1;
	opacity:1;
	left:-20px;
	width:20px;
}
#zoombox.simple .zoombox_prev:hover{
	background-position-x:-60px;
}
.simple .zoombox_prev{
	background:url(img/ppprev.png) no-repeat left center;
}
.simple .zoombox_close{
	background:url(img/simpleclose.png) no-repeat;
	width:30px;
	height:30px;
	position:absolute;
	top:0;
	right:-10px;
}

#zoombox.simple .multimedia .zoombox_next,#zoombox.simple .multimedia .zoombox_prev{
	display:block;
}



/* Theme Switcher */
.slide-out-div {
    background-color: #ffffff;
    padding: 20px 0 0 20px;
    position: relative;
    width: 180px;
    z-index: 3647;
}

.slide-out-div h2 {
 color: #413E3E;
 margin-bottom: 20px;
}

.slide-out-div h2 span{
 color: #7E270C;
}

.slide-out-div ul {
 padding: 0;
 color: #c9c8c8;
 list-style: none;
}

.slide-out-div img {
 border: 1px solid #e4e3e2;
 margin-bottom: 10px;
}

.slide-out-div a {
 color: #c9c8c8;
}

.slide-out-div a:hover {
 color: #ffffff;
}